#selDataset {
    background-color: #f0f0f0;
    border: 1px solid black;
    overflow: hidden;
    width: 130px;
    }

.well{
    width: 165px;
    background-color: lightgray;
    border : 1px solid black;
    box-shadow: 5px 5px 5px gray;
    position: relative;
}

#row1 {
    background-color: lightgray;
    border: 1px solid black;
    overflow: hidden;
    box-shadow: 5px 5px 5px gray;
    margin-top: 5px;
    width: 105%;
}

#sample-metadata{
    background-color: #f4f4f4;
    overflow: hidden;
    border: 1px solid black;
    box-shadow: 5px 5px 5px gray;
}

#panelhead{
    overflow: hidden;
    border: 1px solid black;
    box-shadow: 5px 5px 5px gray;
}

body{
    background-color: white;
}

#gauge{
    background-color: #f4f4f4;
    /* box-shadow: 5px 5px 5px gray; */
    
}

#button{
    border: 1px solid black;
    box-shadow: 5px 5px 5px gray;
}

#map,
body,
html
{
   height: 98%;
   
}

#link{
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

